.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  padding-top: 16px;
  padding-bottom: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid color #ececec;
}

.header-nav {
  display: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  @include tablet {
    display: flex;
  }
}

.header-nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  display: block;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link--current {
  color: var(--accent-color);

  &::after {
    content: "";
    display: block;
    position: absolute;

    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.mobile-menu {
  padding-top: 48px;
  padding-bottom: 48px;

  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: auto;
  }

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.mobile-menu.is-open {
  transform: translateX(0);
}

.js-open-menu {
  display: block;
  margin-left: auto;

  cursor: pointer;
  background-color: transparent;
  border: none;

  &:hover {
    fill: var(--accent-color);
  }
  @include tablet {
    display: none;
  }
}
.js-close-menu {
  border: none;
  margin-top: 10px;
  margin-right: 15px;
}
.mobile__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.mob-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.mob-nav__item + .mob-nav__item {
  margin-top: 32px;
}
// .mob-contact-us {
//   margin-top: 306px;
// }
.mob-contact-us__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-contact-us__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}
.mob-contact-us__item + .mob-contact-us__item {
  margin-top: 32px;
}
.mob-social {
  margin-top: 64px;
  display: flex;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-social__item + .mob-social__item {
  padding-left: 10px;
  margin-left: 10px;

  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
.current {
  color: var(--accent-color);
}
