.contact-us {
  display: none;
  // margin-left: auto;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  fill: var(--primary-text-color);
  @include tablet {
    display: block;
    flex-direction: column;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
  }
}

.contact-us__item + .contact-us__item {
  margin-top: 10px;
  @include desktop {
    margin-left: 50px;
    margin-top: auto;
  }
}

.contact-us__via {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact-us__icon {
  margin-right: 10px;

  fill: currentColor;
}
