.contact-us {
  display: flex;
  margin-left: auto;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  fill: var(--primary-text-color);
}

.contact-us__item + .contact-us__item {
  margin-left: 50px;
}

.contact-us__via {
  padding-top: 32px;
  padding-bottom: 32px;

  display: flex;
  align-items: center;
  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-us__icon {
  margin-right: 10px;

  fill: currentColor;
}
