.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo--black {
  color: var(--title-text-color);
}

.logo--margin-right {
  @include desktop {
    margin-right: 93px;
  }
}

.logo--white {
  color: var(--white-color);
}
