p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link,
.list,
.item {
  list-style: none;
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}
%link {
  list-style: none;
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
